@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white antialiased;
  }
}

/* Scrollbar Industrial Crucianelli */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e11d48;
}